@import "./constants";

#header {
  position: fixed;
  height: 50px;
  top: 0;
  z-index: 200;
  width: 100%;
  background-color: $darkBlue;

  -moz-box-shadow: 0px 1px 2px 0px #656565;
  -webkit-box-shadow: 0px 1px 2px 0px #656565;
  -o-box-shadow: 0px 1px 2px 0px #656565;
  box-shadow: 0px 1px 2px 0px #656565;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=5);

  .inner-bar {
    max-width:$max-width;
    margin:0 auto;
    height: $headerHeight;
    padding-left:10px;
    padding-right:10px;
    line-height: $headerHeight;

    .logo {
      float:left;
      width: calc(10% - 35px);
      img {
        height: 35px;
        margin-top:7px;
      }
    }

    
    .toolbar {
      text-align: right;
      color: $lightgrey;
      float:right;
      height: $headerHeight;
      width: calc(90% - 35px);

      .search-bar{
        height: 100%;
        font-family: "Roboto"; 
        font-weight: 500;
        vertical-align: top;
        margin-right: 10px;

        input[type="text"], div{
          height: 30px;
          color: $darkgrey;
          background:$lightgrey;
        }

        input[type="text"]{
          border: none;
          outline: 0;
          padding-left: 8px;
          border-top-left-radius: 3px;
          border-bottom-left-radius: 3px;
          font-weight:100;
        }

        div{
          height: 30px;
          line-height: 30px;
          cursor: pointer;
          display: inline-block;
          padding: 0 8px;
          border-top-right-radius: 3px;
          border-bottom-right-radius: 3px;
        }
      }


      > * {
        display:inline-block;
      }

      > a.btn {
        height: 26px;
        line-height: 26px;
        padding: 0px 10px;
        text-decoration:none;
        margin-right:10px;
      }

      .user-icon{
        margin: 0;
        vertical-align: top;
        height: $headerHeight;

        a.btn {
          height: 26px;
          line-height: 26px;
          padding: 0px 10px;
          text-decoration:none;
        }

        img {
          height: 30px;
          cursor: pointer;
          border-radius: 10000000px;
        }

        .bubble {
          position: absolute;
          padding-top:5px;
          padding-bottom:5px;
          animation-duration: .2s;
          width: 137px;
          background: $lightgrey;
          -webkit-border-radius: 2px;
          -moz-border-radius: 2px;
          border-radius: 2px;
          top: 50px;
          margin-left: -108px;

          -moz-box-shadow: 0px 1px 2px 0px #656565;
          -webkit-box-shadow: 0px 1px 2px 0px #656565;
          -o-box-shadow: 0px 1px 2px 0px #656565;
          box-shadow: 0px 1px 2px 0px #656565;
          filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=5);


          .menu-item {
            position:relative;
            color:$darkgrey;
            font-size:14px;
            line-height: 30px;
            height: 30px;
            text-align: left;
            padding-left:10px;

            .fa {
              margin-right: 5px;
            }
          }

        }

        .bubble:after {
          content: '';
          position: absolute;
          border-style: solid;
          border-width: 0 6px 7px;
          border-color: #FFFFFF transparent;
          display: block;
          width: 0;
          z-index: 1;
          top: -7px;
          left: 117px;
        }


      }


    }

  }

  .profile-thumb {
    height: 30px;
    width: 30px;
    border-radius:20000px;
    background-size:cover;
    background-position: center center;
    cursor:pointer;
  }

}