$grey: rgb(231, 228, 224);
$darkgrey: rgb(74, 74, 74);
$lightgrey: rgb(247, 247, 247);
$mainColor: #db4c3f;

$max-width: 1080px;
$headerHeight: 50px;

#header {
  position: fixed;
  height: 50px;
  top: 0;
  z-index: 200;
  width: 100%;
  background-color: $mainColor;

  .inner-bar {
    max-width:$max-width;
    margin:0 auto;
    height: $headerHeight;
    padding-left:10px;
    padding-right:10px;
    line-height: $headerHeight;

    .logo {
      float:left;
      width: calc(10% - 35px);
      img {
        height: 35px;
        margin-top:7px;
      }
    }

    
    .toolbar {
      text-align: right;
      color: $lightgrey;
      float:right;
      height: $headerHeight;
      width: calc(90% - 35px);

      .search-bar{
        height: 100%;
        font-family: "Roboto"; 
        font-weight: 500;
        vertical-align: top;

        input[type="text"], div{
          height: 30px;
          color: $darkgrey;
        }

        input[type="text"]{
          border: none;
          outline: 0;
          padding-left: 8px;
          border-top-left-radius: 3px;
          border-bottom-left-radius: 3px;
          font-weight:100;
        }

        div{
          background-color: white;
          height: 30px;
          line-height: 30px;
          display: inline-block;
          padding: 0 8px;
          border-top-right-radius: 3px;
          border-bottom-right-radius: 3px;
        }
      }


      > * {
        display:inline-block;
      }

      .add-post-button {   
        margin: 0 3%;
        > * {
          font-size: 20px;
          font-weight: 500;
          cursor: pointer;
        }
      }

      .user-icon{
        margin: 0;
        vertical-align: top;
        height: $headerHeight;

        img{
          margin-top: 10px;
          height: 30px;
          cursor: pointer;
        }
      }


    }

  }

}