@import "./constants";


.login-signin-panel{
	width: 701px; /* + 1 px pour le vertical separator */
	background-color: $lightgrey;
	border: solid $mainColor 2px;
	margin: 0 auto;
	height: 300px;
	margin-top: calc((100vh - 350px) / 2); /* 100 % - taille div - taille header */

	> * {
		display: inline-block;
		vertical-align: top;
	}

	.input[type="text"], .input[type="email"], .input[type="password"]{
		width: 296px;
		height: 8px !important;
		margin: 10px auto;
		border-width: 2px;
		margin-top: 5px;
	}

	.input[type="text"]:focus, .input[type="email"]:focus, .input[type="password"]:focus{
		border-width: 2px !important;
	}

	.input[type="submit"]{
		margin-top: 20px;
		height: 40px;
		width: 120px;
		border: solid $mainColor 1px;
		background-color: $mainColor;
		color: white;
		text-transform: uppercase;
		letter-spacing: 1px;
	}

	.login-panel, .signin-panel{
		width: 320px;
		padding: 15px;
		color: $darkgrey;

		label{
			margin-left: 5px;
		}

		h2{
  			font-weight: 500;
			letter-spacing: 2px;
			color: $mainColor;
			margin-bottom: 15px;
		}

		div{
			text-align: right;
		}
	}

	.vertical-separator{
		width: 1px;
		height: 280px;
		margin-top: 10px;
		background-color: $darkgrey;
	}
}


/*

<div className="login-signin-panel">
    <div className="login-panel">
        <form onSubmit={ self._submit }>
            <input className="login-mail" type="email" ref="email" required placeholder="email"/>
            <input className="login-password"type="password" ref="password" required placeholder="password"/>
            <input className="login-submit"type="submit" value="Connexion"/>
        </form>
    </div>
    <div className="signin-panel">
        <form onSubmit={ self._submit }>
            <input className="signin-firstname" type="text" ref="firstname" required placeholder="firstame"/>
            <input className="signin-lastname" type="text" ref="lastname" required placeholder="lastname"/>
            <input className="signin-mail" type="email" ref="email" required placeholder="email"/>
            <input className="signin-password" type="password" ref="password" required placeholder="password"/>
            <input className="signin-submit" type="submit" value="Envoyer"/>
        </form>
    </div>
</div>

*/