$grey: rgb(231, 228, 224);
$darkgrey: rgb(74, 74, 74);
$lightgrey: rgb(247, 247, 247);

$mainColor: #db4c3f;
$mainColorAccent: #872F27;

$max-width: 1080px;

h1 {
  color:red;
}

body{
	width: 100%;
	height: 100vh;
	//color: $darkgrey;
}

*{
	margin: 0;
	padding: 0;
}

a, a:visited, a:hover{
	text-decoration: none;
	color: inherit;
}

a:hover{
	text-decoration: underline;
}

.body-wrapper, .footer{
  max-width: $max-width;
  margin:auto;
  padding-left:10px;
  padding-right:10px;
}

.body{
	width: 100%;
	position: absolute;
	height: calc(100vh - 50px);	
	top: 50px;
  overflow: auto;
}


/*

	contenu centré avec padding de 3% sur les cotés

*/
