@import "./constants";



.single-post-page{
	font-family: "Roboto", sans-serif;
	background-color: $lightgrey;
	margin-top: 10px;
	color: #4a4a4a;
	
	.post-description{
		> div > .rank {
			margin: 10px 0 10px 10px;;
	      	vertical-align: top;
			display: inline-block;
			width: 60px;
			height: 60px;
			font-family: 'Audiowide', sans-serif;

	      .rank-box {
	        width: 60px;
	        height: 60px;
    		background: gold;
	        color: $darkgrey;
	        border-radius: 3px;
	        font-size: 23px;
	        text-align:center;
	        border-bottom: 2px grey solid;
	      }

	      .score {
	        text-align:center;
	        font-size:12px;
	        color:$darkgrey;
	        margin-top: -1px;
	      }

	     .rank {
	       text-align:center;
	       padding-top: 10px;
	     }
	    }

		.post-votes{
			display: inline-block;
			border: solid $mainColor 1px;
			width: 40px;
			height: 60px;			
			margin: 10px;

			.post-up-vote, .post-down-vote{
				width: 100%;
				height: 30px;
				line-height: 30px;
				text-align: center;
				cursor: pointer;
			  transition: color .3s, background .3s;
			}

		  .post-up-vote:active, .post-down-vote:active {
			-moz-box-shadow: inset 0px 1px 2px 0px #656565;
			-webkit-box-shadow: inset 0px 1px 2px 0px #656565;
			-o-box-shadow: inset 0px 1px 2px 0px #656565;
			box-shadow: inset 0px 1px 2px 0px #656565;
			filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=2);
		  }

		  .post-up-vote.toggled, .post-down-vote.toggled {
			background: $mainColor;
			color: $lightgrey;
		  }

		}
		
		.post-components{
			display: inline-block;
			vertical-align: top;
			margin-top: 5px;

			.post-from, .post-comments-number, .post-date {
				margin-top: 10px;
		        font-size: 12px;
		        color: $mainColor !important;
		        display: inline-block;
		    }

		    .post-comments-number{
		    	margin: 0 20px;
		    }

			.post-title{
				vertical-align: top;
				font-size: 32px;
				font-weight: 300;		
			}
		}

		

		.post-body{
			width: calc(100% - 40px); /*- padding */
			margin: 10px 10px;
			background-color: $grey;
			padding: 10px;
		}
		
	}

	.add-comment-form{
		> *{
			margin-left: 10px;
		}

		span{
			display: block;
			margin: 20px 0 10px 0;
			font-size: 20px;
			font-weight: 300;
		}

		textarea{
			display: block;
			width: 50%;
			height: 100px;
			resize: vertical;
			max-height: 200px;
			background-color: white;
		}

		input[type="submit"]{
			background-color: $mainColor;
			color: white;
			border: none;
			padding: 10px;
			margin: 15px 0;
			cursor: pointer;
			letter-spacing: 3px;
		}
	}


	.comments{
		margin-top: 20px;

		.comment-separator{
			height: 1px;
			width: calc(100% - 20px);
			margin: 10px auto;
			background-color: silver;
		}

		.comment:first-child .comment-separator{
			display: none;
		}

		.comment{

			* {
				vertical-align: top;
			}

			.left-comment-side, .right-comment-side{
				display: inline-block;
			}

			.left-comment-side{
				margin: 0 10px;
				font-size: 14px;
				text-align: center;
				width: 125px;

				img{
					height: 80px;
					cursor: pointer;
				}
			}

			.right-comment-side{
				.comment-votes{
					margin: 10px;
					display: inline-block;
					width: 30px;
					height: 60px;
					border: solid $mainColor 1px;

					.comment-up-vote, .comment-down-vote {
						width: 100%;
						height: 30px;
						line-height: 30px;
						text-align: center;
						cursor: pointer;
						color: $darkgrey;
					}

					.comment-up-vote:active, .comment-down-vote:active {
						-moz-box-shadow: inset 0px 1px 2px 0px #656565;
						-webkit-box-shadow: inset 0px 1px 2px 0px #656565;
						-o-box-shadow: inset 0px 1px 2px 0px #656565;
						box-shadow: inset 0px 1px 2px 0px #656565;
						filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=2);
					}
				}

				.comment-description{
					margin: 10px;
					display: inline-block;
					height: 60px;

					> *{
						display: inline-block;
					}
				}		
			}	
		}
	}
}
