@import "./constants";

.singlePostPage{
	font-family: "Roboto", sans-serif;
	margin-top: 20px;
	
	.postDescription{
		.postVotes{
			display: inline-block;
			border: solid $mainColor 2px;
			width: 50px;
			height: 80px;			
			margin-left: 3%;

			.postUpVote, .postDownVote{
				width: 100%;
				height: 40px;
				line-height: 40px;
				text-align: center;
				cursor: pointer;
			}

			.postUpVote:hover, .postDownVote:hover{
				background-color: lightblue;
				color: white;
			}
		}

		.postTitle{
			display: inline-block;
			vertical-align: top;
			width: calc(94% - 56px - 15px); /* (-)50 div vote (-) 4 border vote (-) padding-left*/
			border: solid black 1px;
			font-size: 36px;
			color: $mainColor;
			font-weight: 300;
			padding-left: 15px;
		}

		.postBody{
			width: calc(94% - 20px); /*- padding */
			margin: 25px auto;
			background-color: lightgrey;
			padding: 10px;
		}
		
	}

	.addCommentForm{
		> *{
			margin-left: 3%;
		}

		span{
			display: block;
			margin: 15px 0;
			font-size: 24px;
			font-weight: 300;
		}

		textarea{
			display: block;
			width: 50%;
			height: 100px;
			resize: vertical;
			max-height: 200px;
			outline: 0;
			border: 1px solid #cccccc; 
		}

		textarea:focus {
		    -moz-box-shadow: 0px 0px 5px 0px #a684bc;
			-webkit-box-shadow: 0px 0px 5px 0px #a684bc;
			-o-box-shadow: 0px 0px 5px 0px #a684bc;
			box-shadow: 0px 0px 5px 0px #a684bc;
			border: 1px solid #cccccc; 
		}

		input[type="submit"]{
			background-color: $mainColor;
			color: white;
			border: none;
			padding: 10px;
			margin: 15px 0;
			cursor: pointer;
			letter-spacing: 3px;
		}
	}

	.comments{
		.comment{
			.commentUpVote, .commentDownVote{
				border: solid black 1px;
				width: 200px;
			}	
		}
	}
}
