@import "./constants";

.step-wrapper {
  position:fixed;
  bottom:10px;
  width:100%;
  left:0px;
  text-align:center;

  .step-1 {

    background: $pink;
    color: $lightgrey;
    display:inline-block;
    border-radius: 2px;
    z-index: 10000;
    padding:10px;

    >span.step-title {
      color: $darkgrey;
      font-weight: bold;
    }
  }
}