@import "./constants";

.wall-info, .posts-container {
  display: inline-block;
}

@media (max-width: 550px) {
  .wall-info {
    display: none;
  }
}

.wall-info {
  position: relative;
  width: 20%;
  vertical-align: top;
  margin-top: 10px;
  background-color: $mainColor;
  color: white;
  padding-bottom: 10px;

  div > * {
    max-width: 90%;
    max-height: 90%;
    margin: 5px auto;
  }

  .wall-map img {
    max-width: 100%;
    max-height: 100%;
  }

  .wall-address {
    font-size: 18px;
  }

  .wall-adds {
    .wall-add {
      height: 50px;

      > * {
        display: inline-block;
      }

      .wall-add-img {
        width: 33%;
        height: 50px;
        line-height: 50px;
        text-align: center;
      }

      .wall-add-description {
        width: 66%;
        height: 100%;
        vertical-align: top;

        > * {
          font-size: 14px;
        }
      }

    }
  }

}

.add-post-form {
  position: fixed;
  width: 150px;
  height: 410px;
  bottom: -350px;
  left: 50%;
  margin-left: -75px;
  transition: bottom .3s, border-radius .3s, width .3s, margin-left .3s;

  form {
    text-align: center;
    overflow:hidden;
    display: none;
    background-color: $lightgrey;
    height: 100%;
    padding-top:10px;

    input[type="text"].input, textarea.add-post-body-input {
      width: 360px;
      margin:auto;
      margin-bottom: 10px;
    }
    .btn {
      margin-right: 10px;
    }
  }

  .add-post-form-title {

    border-radius: 2px;
    -moz-box-shadow: 0px 0px 5px 0px #656565;
    -webkit-box-shadow: 0px 0px 5px 0px #656565;
    -o-box-shadow: 0px 0px 5px 0px #656565;
    box-shadow: 0px 0px 5px 0px #656565;

    background-color: $mainColor;
    display: block;
    color: white;
    height: 50px;
    width: inherit;
    line-height: 50px;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    cursor: pointer;
  }

  .add-post-title-input, .add-post-body-input {
    display: block;
    width: 95%;
    margin: 0 auto;
  }

  .add-post-body-input {
    height: 200px;
    resize: none;
  }

  .add-post-title-span, .add-post-body-span {
    display: block;
    padding: 5px;
    font-size: 16px;
  }

  .add-post-body-span {
    margin-top: 20px;
  }

  input[type="submit"] {
    background-color: $mainColor;
    display: block;
    color: white;
    border: none;
    height: 40px;
    width: 80px;
    padding: 10px;
    margin: 15px auto;
    cursor: pointer;
  }
}

.add-post-form.opened {
  bottom: 0px;
  -moz-box-shadow: 0px 1px 2px 0px #656565;
  -webkit-box-shadow: 0px 1px 2px 0px #656565;
  -o-box-shadow: 0px 1px 2px 0px #656565;
  box-shadow: 0px 1px 2px 0px #656565;
  width: 400px;
  margin-left: -200px;

  .add-post-form-title {
    border-radius: 0px;
  }

  form {
    display: block;
  }
}

@media (max-width: 550px) {
  .add-post-form {
    transition: bottom .3s, border-radius .3s, right .3s, width .3s !important;
    left: inherit;
    right: 10px;
    width: 60px;
    bottom: -340px;

    .add-post-form-title {
      height: 60px;
      line-height: 60px;
      border-radius: 1000px;
    }

    .title-text {
      display: none;
    }

    form {

      input[type="text"].input, textarea.add-post-body-input {
        width: 90%;
        margin:auto;
        margin-bottom: 10px;
      }
    }

  }
  .add-post-form.opened {
    width: 100% !important;
    right: 0px !important;
    .add-post-form-title {
      height: 50px;
      line-height: 50px;
    }
    .title-text {
      display: inline !important;
    }
  }
  .posts-container {
    width: 100% !important;
    margin-left: 0% !important;
  }
}

.posts-container {
  text-align: center;
  width: 78%;
  margin-left: 2%;
  margin-top: 10px;

  padding-bottom: 80px;

  a.btn.plain {
    margin-top:5px;
  }

  .post-item:nth-child(1) > .rank .rank-box {
    background: gold;
    color:$lightgrey;
  }
  .post-item:nth-child(2) > .rank .rank-box {
    background: silver;
    color:$lightgrey;
  }
  .post-item:nth-child(3) > .rank .rank-box {
    background: darkorange;
    color:$lightgrey;
  }

  .post-item {

    text-align: left;

    background: $lightgrey;
    margin-bottom: 10px;
    padding: 10px;

    -moz-box-shadow: 0px 1px 2px 0px #656565;
    -webkit-box-shadow: 0px 1px 2px 0px #656565;
    -o-box-shadow: 0px 1px 2px 0px #656565;
    box-shadow: 0px 1px 2px 0px #656565;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=2);

    > * {
      display: inline-block;
      vertical-align: top;
    }

   > .rank {

      width: 60px;
      height:60px;
      font-family: 'Audiowide', sans-serif;

      .rank-box {
        margin-top:5px;
        width:50px;
        height:50px;
        background: $grey;
        color: $darkgrey;
        border-radius: 3px;
        font-size: 23px;
        text-align:center;
        border-bottom: 2px grey solid;
      }

      .score {
        text-align:center;
        font-size:12px;
        color:$darkgrey;
        margin-top: -1px;
      }

     .rank {
       text-align:center;
       padding-top: 3px;
     }
    }

    .post-votes {
      width: 30px;
      height: 60px;
      border: solid $mainColor 1px;

      .toggled {
        background-color: $mainColor;
        color: $lightgrey !important;
      }

      .post-up-votes, .post-down-votes {
        width: 100%;
        height: 30px;
        line-height: 30px;
        text-align: center;
        cursor: pointer;
        color: $darkgrey;
        transition: color .3s, background .3s;
      }

      .post-up-votes:active, .post-down-votes:active {
        -moz-box-shadow: inset 0px 1px 2px 0px #656565;
        -webkit-box-shadow: inset 0px 1px 2px 0px #656565;
        -o-box-shadow: inset 0px 1px 2px 0px #656565;
        box-shadow: inset 0px 1px 2px 0px #656565;
        filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=2);
      }
    }

    .user-picture {
      width: 60px;
      padding-left:10px;
      img {
        height: 60px;
      }
    }

    .post-description {
      padding-left: 15px;
      width: calc(100% - 52px - 15px - 60px);

      > * {
        display: inline-block;
      }

      .post-title {
        margin: 4px 0;
        color: $darkgrey;
      }

      .post-title:hover {
        text-decoration: underline;
      }

      .post-title, .post-body {
        width: 98%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      .post-title a, .post-title a:visited {
        font-size: 20px;
        font-weight: 300;
        text-decoration: none;
        color: inherit;
      }

      .post-comments-number {
        margin: 5px 20px;
      }

      .post-from, .post-comments-number, .post-date {
        font-size: 12px;
        color: $mainColor !important;
      }

      .post-from {
        text-transform: capitalize;
      }

      .post-from-lastname {
        display: inline-block;
        width: 8px;
        text-overflow: '.';
        white-space: nowrap;
        overflow: hidden;
        vertical-align: bottom;
      }

      .post-from:hover .post-from-lastname {
        display: inline-block;
        width: 50px;
        vertical-align: bottom;
      }

    }

    .uselessButton {
      display: none;
    }

  }
}

.wall-gallery-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #222222;
  //background: $darkBlue;

  .gallery-description{
    position: absolute;
    bottom: 210px;
    left: 0;
    right: 0;
    height: 50px;
    background-color: #111111;
    color: $grey;

    > div{
      width: 100%;

      .message{
        float: left;
        margin-left: 15px;
      }

      .picture-number{
        float: right;
        text-align: right;
        margin-right: 15px;
      }

      *{
        display: inline-block;
        height: 50px;
        line-height: 50px;
      }
    }
    
  }

  .pictures{
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    position: absolute;
    left: 0;
    right: 0;
    height: 160px;
    bottom: 0px;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;

    .picture{
      height: 150px; 
      width: 150px;
      margin: 0 5px;
      display: inline-block;
      background-position: center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .picture:first-child{
      margin-left: 10px;
    }

    .picture:last-child{
      margin-right: 10px;
    }

    .selected{
      border: solid $mainColor 5px;
      height: 140px; 
      width: 140px;
    }   
  }

  .current-date {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-transform: capitalize;
    font-style: italic;
    text-align: center;
    color: $lightgrey;
    font-size: 24px;
  }

  .slider-container.hidden {
    display: none;
  }

  .slider-container {
    position: relative;
    $pictureHeight: calc(100vh - 430px);
    $navDim: 40px;

    .previous, .next{
      top: calc((100vh - 470px) / 2);
      background-color: rgba(34, 34, 34, 0.7);
    }

    #current-picture {
      height: $pictureHeight;
      position:relative;
      width: 100%;
    }

    .previous {
      cursor:pointer;
      text-align:center;
      line-height: $navDim;
      position:absolute;
      left:10px;
      width: $navDim;
      height: $navDim;
      color: $lightgrey;
      border: 2px $lightgrey solid;
      border-radius: 10000px;
    }
    .next {
      cursor: pointer;
      text-align:center;
      line-height: $navDim;
      position:absolute;
      right:10px;
      width: $navDim;
      height: $navDim;
      color: $lightgrey;
      border: 2px $lightgrey solid;
      border-radius: 10000px;
    }


    .controls {
      text-align:center;
      width: 100%;
      height: 70px;

      > div {
        height: 70px;
        line-height: 70px;
        display:inline-block;
        margin: 5px 15px;
        color:lightgrey;
        cursor:pointer;
      }
    }
  }

  .wall-info {
    display:none;
  }

  @media screen and (max-height: 700px){
    .pictures{
      height: 70px;

      .picture{
        height: 70px; 
        width: 70px;
        margin: 0 5px;
        display: inline-block;
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-repeat: no-repeat;
      }

      .selected{
        border: solid $mainColor 3px;
        height: 64px; 
        width: 64px;
      }
    }

    .current-date{
        font-size: 18px;
    }

    .gallery-description{
      height: 30px;
      bottom: 100px;

      > div > *{
        height: 30px;
        line-height: 30px;
        font-size: 14px;
      }
    }

    .slider-container {
      position: relative;
      $pictureHeight: calc(100vh - 270px);
      $navDim: 40px;
      
      #current-picture {
        height: $pictureHeight;
      }

      .previous, .next{
        top: calc((100vh - 310px) / 2);
      }

      .controls {
        text-align:center;
        height: 40px;

        > div {
          height: 40px;
          line-height: 40px;
          font-size: 12px;
        }
      }
    }
  }
}

