@import "../constants";

.body .notifications {

  position: fixed;
  top: 60px;
  right:0px;
  z-index:10000;

  .notification {
    background: black;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    padding-right: 15px;
    padding-left: 15px;
    animation-duration: .3s;

    .fa {
      font-size:20px;
      margin-right:5px;
    }

    .fa-close {
      color:red;
    }

    .fa-check {
      color: green;
    }

    .fa-info {
      color: dodgerblue;
    }

  }

  .notification:last-child {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: $max-width) {
  .body .notifications {
    right: calc( (100% - #{$max-width}) / 2);
  }
}