@import "../constants";

.wall-post-container, .wall-upload-container {
  padding-top: 10px;

  h1{
    color: $darkgrey;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
  }

  p{
    color: #8A312F;
  }

  .step-wrapper *{
    background-color: $mainColor !important;    
  }

  .step-wrapper .step-title{
    color: #ECECEC !important;    
  }

  > form {

    text-align: center;

    textarea.add-post-body-input {
      height:200px;
      width: calc(100% - 20px);
      margin: 30px auto;
      margin-bottom: 10px;
      resize: vertical;
    }
  }

  form .datepicker {
    margin:auto;
  }
}